<div class="dsc-carrusel">
    <div class="dsc-carrusel_buttons">
        <i class="fa fa-chevron-cicle-left" (click)="setBack"></i>
        <i class="fa fa-chevron-cicle-right" (click)="setNext"></i>
    </div>
    <div class="dsc-carrusel_content">
        <ng-container>
            <div class="das-carrusel_content-item">
                <h1> <span></span></h1>
                <p></p>
            </div>
        </ng-container>
    </div>
    <div class="dsc-carrusel_steps">
        <div class="dsc-carrusel_steps-step">

        </div>
    </div>
</div>