$breakpoints: (
    sm : 540px,
    md : 786px,
    lg : 1024px,
);

@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

h5 {
    color: white;
}

.carousel-inner img{
    height: 700px;
    width: 100px;
    @include media-up(md){
        height: 350px;
        width: 500px;
    }
}

.container {
    background: blue;
    display: block;
    float: none;
    z-index: -1;
    @include media-up(md){

    }
}

.container-Espaciado {
    height: 70px;
}