<div class="container"></div>

<form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electronico</label>
      <input type="text" formControlName="email" id="email" aria-describedby="emailHelp">
      <div *ngIf="formularioLogin.get('email')?.touched && formularioLogin.get('email')?.errors?.['required']" id="emailHelp" class="form-text"></div>
      <div *ngIf="formularioLogin.get('email')?.touched && formularioLogin.get('email')?.errors?.['minlength']" id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
  